<p>
  Did you see any distortion in this image? <br>
  <i><%= session[:training] || session[:training].nil? ? 'Distortion means any blur in the whole image' : '' %></i>
</p>

<label for="distortion_visible_yes">
  <input id="distortion_visible_yes" name="distortion_visible" type="radio" value="yes">
  Yes
</label>
<br>
<label for="distortion_visible_no">
  <input id="distortion_visible_no" name="distortion_visible" type="radio" value="no">
  No
</label>

<hr>
<p>Please indicate the quality of the image on a scale from 1 (bad) to 5 (excellent) below:</p>

<table style="width:100%">
  <tr>
    <%= range_field_tag :scale_ACR, 3, :in => 1..5, :step => 1, style: 'width:100%;' %>
  </tr>
  <tr>
    <td style="text-align:left" width="12.5%">1</td>
    <td style="text-align:center">2</td>
    <td style="text-align:center" width="25%">3</td>
    <td style="text-align:center" width="25%">4</td>
    <td style="text-align:right" width="12.5%">5</td>
  </tr>
  <tr>
    <td style="text-align:left" width="12.5%">Bad</td>
    <td style="text-align:center">Poor</td>
    <td style="text-align:center" width="25%">Fair</td>
    <td style="text-align:center" width="25%">Good</td>
    <td style="text-align:right" width="12.5%">Excellent</td>
  </tr>
</table>

<hr>
<p>Please select the best category that describes the object in the picture:</p>

<label>Animate</label><i>(moving, living things, for example humans or animals)</i>
<br>
<Label for="describe_object_animate_human">
  <input id="describe_object_animate_human" name="describe_object" type="radio" value="animate_human">
  Human
</Label>
<br>
<Label for="describe_object_animate_animal">
  <input id="describe_object_animate_animal" name="describe_object" type="radio" value="animate_animal">
  Animal
</Label>
<br>
<Label>Inanimate</Label><i>(non-living things and plants)</i>
<br>
<Label for="describe_object_inanimate_natural_">
  <input id="describe_object_inanimate_natural_" name="describe_object" type="radio" value="inanimate_natural ">
  Natural
</Label>
<br>
<Label for="describe_object_inanimate_man_made">
  <input id="describe_object_inanimate_man_made" name="describe_object" type="radio" value="inanimate_man_made">
  Man-Made
</Label>

<hr>
<p>Please select the best category that describes the scene in the picture:</p>

<Label for="semantic_recognition_indoor">
  <input id="semantic_recognition_indoor" name="semantic_recognition" type="radio" value="indoor">
  Indoor
</Label>
<br>
<Label>
  <input id="semantic_recognition_outdoor_natural" name="semantic_recognition" type="radio" value="outdoor_natural">
  Outdoor Natural (for example, mountains, sea, field, etc.)
</Label>
<br>
<Label>
  <input id="semantic_recognition_outdoor_man_made" name="semantic_recognition" type="radio" value="outdoor_man_made">
  Outdoor Man-Made (for example, city, buildings, park, etc.)
</Label>