<p>Did you see any distortion in this image?</p>

<div>
  <%= radio_button_tag :distortion_visible, 'yes' %>
  <%= label_tag 'Yes' %>
  <br>
  <%= radio_button_tag :distortion_visible, 'no' %>
  <%= label_tag 'No' %>
  <br>
</div>