<p>Did you see any distortion in this image?</p>

<table>
  <tr>
    <td><%= radio_button_tag :distortion_visible, 'yes' %></td>
    <td><%= label_tag 'Yes' %></td>
  </tr>
  <tr>
    <td><%= radio_button_tag :distortion_visible, 'no' %></td>
    <td><%= label_tag 'No' %></td>
  </tr>
</table>