<p>Please indicate the quality of the image on a scale from 1 (bad) to 5 (excellent) below:</p>

<table style="width:100%">
  <tr>
    <%= range_field_tag :scale_ACR, 3, :in => 1..5, :step => 1, style: 'width:100%;' %>
  </tr>
  <tr>
    <td style="text-align:left" width="12.5%">Bad</td>
    <td style="text-align:center">Poor</td>
    <td style="text-align:center" width="25%">Fair</td>
    <td style="text-align:center" width="25%">Good</td>
    <td style="text-align:right" width="12.5%">Excellent</td>
  </tr>
</table>