<h1>Instructions</h1>

<ul>
  <li>
    In this experiment, you will be shown 15-17 images with short viewing times.
  </li>
  <li>
    Each image will be shown for less than 1 second. After each image, you will be asked to do the following:
    <ul>
      <li>Indicate if you noticed any distortion (blur) in the image</li>
      <li>Rate the visual quality of the image using the scales ranging from Bad - Poor - Fair -Good - Excellent</li>
      <li>Categorize the main object and scene of the image</li>
    </ul>
  </li>
  <li>
    We will show examples and explanation of the above in the following pages.
  </li>
</ul>

<p>
  <em>
    If there are images that you do not see clearly due to the short time, please guess the image content and quality with your best judgment.
  </em>
</p>

<div id="wait-text"></div>
<div class="buttons">
  <%= link_to "Start now!", totraining_path, class: "btn btn-large btn-primary", :id => "start-button" %>
</div>