<h1>Instructions</h1>

<ul class="instructions-text">
  <li>
    In this experiment, you will be shown images with short viewing times.
  </li>
  <li>
    Each image will be shown for less than 1 second. After each image, you will be asked to do the following:
    <ol>
      <li>Indicate if you noticed any distortion in the image</li>
      <li>Rate the visual quality and aesthetic appeal of the image using the scales ranging from Bad - Poor - Fair -
        Good - Excellent
      </li>
      <li>Describe the image content</li>
    </ol>
  </li>
  <li>
    We will show examples and explanation of the above in the following pages.
  </li>
</ul>

<p>
  <em>
    Please note that there is no right or wrong answer. We are interested in knowing your first impression of the image.
  </em>
</p>

<div id="wait-text"></div>
<div class="buttons">
  <%= link_to "Start now!", totraining_path, class: "btn btn-large btn-primary", :id => "start-button" %>
</div>