<div>
  <form action="">
    Animate <br>
    <input type="radio" name="picture_object" value="human">
    Human <br>
    <input type="radio" name="picture_object" value="animal">
    Animal <br>

    Inanimate <br>
    <input type="radio" name="picture_object" value="natural">
    Natural <br>
    <input type="radio" name="picture_object" value="man_made">
    Man-made <br>
  </form>
</div>