<p>Did you see any distortion in this image?</p>

<div>
  <form action="">
    <input type="radio" name="distortion" value="yes"> Yes &nbsp
    <input type="radio" name="distortion" value="no"> No <br>
  </form>
</div>