<p>Please select the details that best describe the scene in the picture:</p>

<div>
  <form action="">
    <input type="radio" name="indoor_details" value="workplace">
    Workplace (e.g. office, laboratory etc.) <br>
    <input type="radio" name="indoor_details" value="shopping">
    Shopping and dining place (e.g. supermarket, restaurant, coffee shop, etc.) <br>
    <input type="radio" name="indoor_details" value="sports">
    Sports and leisure place (e.g. bowling alley, night club, etc.) <br>
    <input type="radio" name="indoor_details" value="cultural">
    Cultural place (e.g. art studio, museum, etc.) <br>
    <input type="radio" name="indoor_details" value="home_hotel">
    Home or hotel (e.g. bathroom, bedroom, kitchen, living room, etc.) <br>
  </form>
</div>