<div>
  <form action="">
    <input type="radio" name="outdoor_natural_details" value="water">
    Water/ice/snow <br>
    <input type="radio" name="outdoor_natural_details" value="forest">
    Forest/field/jungle <br>
    <input type="radio" name="outdoor_natural_details" value="mountain">
    Mountain/hills/desert/sky <br>
  </form>
</div>