<p>Please select the details that best describe the scene in the picture:</p>

<div>
  <form action="">
    <input type="radio" name="outdoor_man_made_details" value="commercial">
    Commercial buildings/shops/markets/cities/towns <br>
    <input type="radio" name="outdoor_man_made_details" value="house">
    Houses/cabins/gardens/farms <br>
    <input type="radio" name="outdoor_man_made_details" value="park">
    Sports fields/parks/leisure spaces <br>
  </form>
</div>