<p>Please select the best category that describes the scene in the picture:</p>

<div>
  <form action="">
    <input title="Indoor" name="semantic" value="indoor" type="radio"> Indoor <br>
    <input title="Outdoor Natural" name="semantic" value="outdoor_natural" type="radio"> Outdoor natural <br>
    <input title="Outdoor Man Made" name="semantic" value="outdoor_man_made" type="radio"> Outdoor man-made <br>
  </form>
</div>