<div>
  <form action="">
    <input type="radio" name="semantic" value="indoor"> Indoor <br>
    <input type="radio" name="semantic" value="indoor_natural"> Indoor natural <br>
    <input type="radio" name="semantic" value="outdoor_man_made"> Outdoor man-made <br>
  </form>
</div>